.sliderContainer {
  width: 100%;
  height: 35px;
  overflow: hidden;
  background-image: linear-gradient(
    to right,
    #8b4c49,
    #94593d,
    #946b33,
    #887f31,
    #71933f,
    #5e994d,
    #479e5e,
    #24a270,
    #219b72,
    #219373,
    #258c73,
    #2a8472
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.marquee {
  display: inline-block;
  white-space: nowrap;
  animation: marquee 45s linear infinite;
  position: relative;
}
.backgroundSlider {
  position: absolute;
  width: 100vw;
}
@keyframes marquee {
  100% {
    transform: translateX(50%);
  }
  0% {
    transform: translateX(-30%);
  }
}
